/*=========================================================================================*/
/*
Nombre archivo: styleSheet.css
Autor: Juan Ferrera Sala
Fecha: 30/03/2021
*/
/*=========================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
/*=========================================================================================*/
* {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}
/*=========================================================================================*/
/*Body*/
/*=========================================================================================*/
/* For a desktop */

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(102, 102, 102);
    background: white;
    line-height: 1.5em;
}

.header {
    display: flex;
    height: auto;
    background: rgb(50, 50, 50);
    padding: 1.5rem;
    justify-content: space-between;
    align-items:center;
}

.container_logo_title {
    display: flex;
    align-items: center;
}

.linkLogo {
    width: 3.5rem;
    height: 3.5rem;
}

.txtHeader {
    padding-left: 1rem;
    color: white;
    line-height: 3rem;
}

.nav {
    display: flex;
    align-items: center;
    border-left: 3px white solid;
    height: 2.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    padding-left:1rem;
    padding-right:2rem;
}

.mainContent {
    background-image: url("../Images/image_main_content.jpg");
    background-size: cover;
    height: 80.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h2_main_content {
    color: white;
    font-size: 3rem;
    line-height:3rem;
    display:block;
}

.h2_main_content_tablet {
    display: none;
}

.btn{
    height: 3rem;
    font-size:1.3rem;
    width: 12rem;
    background-color: #3ABB90;
    color: white;
    border-radius: 8px;
    border: none;
    margin-bottom:13rem;
}
.h2_our_hotel {
    color: rgb(102, 102, 102);
    font-size: 3rem;
}
.text_content {
    padding: 2em;
    color: rgb(102, 102, 102);
    font-size: 1.5rem;
    line-height: 3rem;
    display: block;
    text-align: justify;
}

.footer {
    background: rgb(242, 242, 242);
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: start;
    flex-basis: 80%;
    color: black;
    padding: 1rem;
}

.copyright{
    padding-left:1.5rem;
}

/*=========================================================================================*/
/*Login*/
/*=========================================================================================*/

h2_login {
    color: rgb(102, 102, 102);
    font-size: 3rem;
}
.main_content_login {
    height: 80.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn {
    height: 2.3rem;
    font-size: 1.3rem;
    width: 20rem;
    background-color: #3ABB90;
    color: white;
    border-radius: 8px;
    border: none;
}
.inputTxt {
    margin-top: 2rem;
    height: 3rem;
    width: 20rem;
    border-radius: 8px;
    font-size: 18px;
    border: 1px solid rgb(0, 0, 0);
}

/*=========================================================================================*/
/*Client*/
/*=========================================================================================*/
.h2_client {
    color: rgb(102, 102, 102);
    font-size: 3rem;
}

.main_content_client {
    height: 80.5vh;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.client_table {
    height:20px;
    width:800px;
}
/* For a tablet */
@media(max-width: 992px) {
    .h2_main_content_tablet {
        font-size:3rem;
        display: block;
        color: white;
    }
    .h2_main_content {
        display: none
    }
    .txtHeader {
        display:none;
    }
    /*=========================================================================================*/
    /*Client*/
    /*=========================================================================================*/
    .client_table {
        height: 20px;
        width: 100px;
    }
}

/* For a smartphone */
@media(max-width: 688px) {
   

    
}
